/* background styling */
body {
    background-color: rgba(208, 216, 243, 0.87);
    color: midnightblue;
}

/* common properties of divs and their contents*/
div {
    display: block;
    background-color: whitesmoke;
    width: 60%;
    margin: auto;
    padding: 0px 2em 2em;
    align-content: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

/* styling field of the logo  */
#banner {
    background-image: url("ApplicationForEmployment.jpg");
    width: 60%;
    margin: 0px auto;
    height: 50%;
}

/* position of the logo */
#logo {
    margin-top: 1em;
    margin-left: 0em;
    width: 20%;
    height: auto;
}

h1 {
    padding-top: 1em;
    color: midnightblue;
    font-size: 3em;
}

h2 {
    margin-bottom: 6px;
    padding-top: 1em;
    padding-bottom: 0em;
    font-size: 1,2em;
}

p {
    font-size: 1em;
    margin-top: 1em;
}

/* coloring the asterics (*) figure */
.ast {
    color: red;
}

/* styling .school div in the form*/
.school{
    display: inline-flex;
    align-content: center;
    padding-left: 0px;
    margin: 6px 0px 6px 0px;
    content: none;
    width: 100%;
    border: none;
    }


/* common properties of some tags, classes and ids */
textarea,
select, 
#username,
#fname, 
#lname, 
#email1,
#email2, 
#date, 
#phone,
#fieldname,
#schoolname {
    width: 50%;
    margin-top: 6px;
    padding: 14px 20px;
    border: 1px solid darkblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* editing the width of the tag different from common properties */
textarea{
    width: 50%;
}

/* styling the file upload button */
#CV{
    width: 30%;
    margin-top: 6px;
    padding: 14px 20px;
    border: 1px solid darkblue;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    color: indianred;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#Warning{
    color: indianred;
}